.main {
	overflow-y: auto;
	scrollbar-gutter: stable;
}

.mainTitle {
	position: sticky;
	transition: background-color var(--animate);
	margin-inline: auto;
	inset: 0;
	background-color: inherit;
	background-color: light-dark(var(--color-neutral-0), var(--color-dark-0));
	padding: var(--padding-md);
	max-width: 996px;
	font-weight: 700;
	font-size: var(--font-size-xlg);
	line-height: 1.25;
}
