.main {
	flex-grow: 1;
	min-height: calc(var(--header-height) + 88px);
	overflow-y: auto;
}

.mainTitle {
	position: sticky;
	z-index: var(--z-index-title);
	margin-inline: auto;
	inset: 0;
	background-color: var(--color-neutral-0);
	padding: var(--padding-md);
	max-width: 996px;
	font-weight: 700;
	font-size: var(--font-size-xlg);
	line-height: 1.25;
}
