{
	"printWidth": 80,
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": false,
	"trailingComma": "es5",
	"arrowParens": "always",
	"plugins": [
		"@trivago/prettier-plugin-sort-imports",
		"prettier-plugin-css-order"
	],
	"importOrder": [
		"^[react]",
		"^./hooks",
		"^./utils",
		"^~/icons",
		"^@/pages",
		"^@/layouts",
		"^@/components",
		"^@/assets",
		".svg$",
		".css$"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
