.button {
	display: inline-flex;
	column-gap: var(--gap-xs);
	justify-content: center;
	align-items: center;
	cursor: pointer;
	box-shadow: var(--box-shadow-base);
	border: none;
	border-radius: var(--border-radius-btn);
	background-color: var(--color-primary-400);
	padding-right: var(--padding-sm);
	padding-left: var(--padding-xs);
	padding-block: var(--padding-xxs);
	color: var(--color-neutral-0);
	font-weight: 600;
}
