.taskStatus {
	display: flex;
	row-gap: var(--gap-lg);
	flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-inline: var(--padding-md);
	padding-bottom: var(--padding-md);
}

.taskStatusWrap {
	display: flex;
	row-gap: var(--gap-sm);
	flex-direction: column;
	align-items: center;
}
.taskStatusTitle {
	font-weight: 700;
	font-size: var(--font-size-lg);
	line-height: 1.33;
}

.taskStatusDesc {
	font-size: var(--font-size-md);
	line-height: 1.33;
}
