.logo {
	--size: 40px;
	display: flex;
	justify-content: end;
	align-items: center;
	border-radius: 7px;
	min-width: 126px;
	height: 40px;
	color: var(--color-base-white);
	text-decoration: none;

	&:focus-visible {
		outline: 2px solid var(--color-base-white);
		outline-offset: 6px;
	}
}

.logoTitle {
	position: relative;
	z-index: var(--z-index-title);
	font-weight: 700;
	font-size: var(--font-size-xlg);
	line-height: 1.25;

	&::before {
		display: block;
		position: absolute;
		left: -14px;
		z-index: var(--z-index-titleBefore);
		border-radius: 7px;
		background: linear-gradient(
			var(--color-primary-400),
			var(--color-primary-500)
		);
		width: var(--size);
		height: var(--size);
		content: '';
	}
}
