.logo {
	--size: 40px;
	display: flex;
	justify-content: end;
	align-items: center;
	outline: 2px solid transparent;
	outline-offset: 6px;
	border: 2px solid transparent;
	border-radius: 7px;
	min-width: 126px;
	height: 40px;
	color: var(--color-neutral-0);
	text-decoration: none;
}

.logo:focus {
	outline: 2px solid var(--color-neutral-0);
	outline-offset: 6px;
	border: 2px solid transparent;
	border-radius: 7px;
}

.logoTitle {
	position: relative;
	z-index: var(--z-index-title);
	font-weight: 700;
	font-size: var(--font-size-xlg);
	line-height: 1.25;
}

.logoTitle::before {
	display: block;
	position: absolute;
	left: -14px;
	z-index: var(--z-index-titleBefore);
	border-radius: 7px;
	background: linear-gradient(
		var(--color-primary-400),
		var(--color-primary-500)
	);
	width: var(--size);
	height: var(--size);
	content: '';
}
