.statistic {
	display: flex;
	row-gap: 24px;
	flex-direction: column;
	align-items: center;
	margin: auto;
}

.statisticDesc {
	text-align: center;
}

.statisticImg {
	display: flex;
	color: var(--color-neutral-700);
}
