.statistic {
	display: flex;
	row-gap: var(--gap-md);
	flex-direction: column;
	align-items: center;
	transition: all var(--animate);
	margin-block: auto;
}
.statisticDesc {
	text-align: center;
}

.statisticImg {
	color: light-dark(var(--color-neutral-700), var(--color-dark-700));
}
