.nav {
	border-right: 1px solid var(--color-neutral-300);
	background-color: var(--color-neutral-100);
	padding-inline: var(--padding-sm);
	padding-block: var(--padding-md);
	overflow-y: auto;
}

.navList {
	list-style-type: none;
}

.navLink {
	display: flex;
	column-gap: var(--gap-xs);
	align-items: center;
	cursor: pointer;
	box-shadow: var(--box-shadow-base);
	border-radius: var(--border-radius-btn);
	background-color: var(--color-neutral-800);
	padding: var(--padding-xxs);
	color: var(--color-neutral-0);
	font-weight: 600;
	text-decoration: none;
}
