.nav {
	border-right: 1px solid var(--color-neutral-300);
	background-color: var(--color-neutral-100);
	padding-inline: var(--padding-sm);
	padding-block: var(--padding-md);
	overflow-y: auto;
	color: var(--color-neutral-0);
}

.navList {
	list-style-type: none;
}

.navItem {
	border-radius: 8px;
}

.navLink {
	display: flex;
	column-gap: 8px;
	align-items: center;
	cursor: pointer;
	box-shadow: var(--box-shadow-base);
	border-radius: 8px;
	background-color: var(--color-neutral-800);
	padding: 8px;
	color: var(--color-neutral-0);
	font-weight: 600;
	text-decoration: none;

	&:focus-visible {
		outline: 2px solid var(--color-neutral-900);
		outline-offset: 2px;
		box-shadow: var(--box-shadow-baseHover);
		background-color: var(--color-neutral-700);
	}

	@media (any-hover: hover) {
		&:hover {
			box-shadow: var(--box-shadow-baseHover);
			background-color: var(--color-neutral-700);
		}
	}
}
