.sideBar {
	display: flex;
	opacity: 1;
	transition: opacity 0.3s linear;
	border-left: 1px solid var(--color-neutral-300);
	background-color: var(--color-neutral-100);
	padding: var(--padding-md);
	overflow-y: auto;
	&.sideBarHidden {
		opacity: 0;
		transition: opacity 0.1s linear;
	}
}
