.sideBar {
	display: flex;
	transition:
		background-color var(--animate),
		border-left var(--animate);
	border-left: 1px solid
		light-dark(var(--color-neutral-300), var(--color-dark-300));
	background-color: light-dark(var(--color-neutral-100), var(--color-dark-100));
	padding: var(--padding-md);
	overflow-y: auto;
}
