.footer {
	padding-inline: var(--padding-md);
	padding-block: var(--padding-sm);
	max-width: 996px;
	text-align: center;
}

.preax {
	color: var(--color-neutral-600);
	font-size: var(--font-size-sm);
}

.link {
	border-radius: 4px;
	color: var(--color-neutral-600);
	text-transform: uppercase;

	&:focus-visible {
		outline: 2px solid var(--color-neutral-900);
		outline-offset: 3px;
		color: var(--color-neutral-800);
	}

	@media (any-hover: hover) {
		&:hover {
			color: var(--color-neutral-800);
		}
	}
}
