.footer {
	margin-inline: auto;
	padding-inline: var(--padding-md);
	padding-block: var(--padding-sm);
	max-width: 996px;
	text-align: center;
}

.preax {
	color: light-dark(var(--color-neutral-600), var(--color-dark-600));
	font-size: var(--font-size-sm);
}

.link {
	transition:
		outline var(--animate),
		color var(--animate);
	border-radius: 4px;
	color: inherit;
	text-transform: uppercase;
}

@media (any-hover: hover) {
	.link:hover {
		color: light-dark(var(--color-neutral-800), var(--color-dark-800));
	}
}

.link:focus {
	outline: 2px solid light-dark(var(--color-neutral-900), var(--color-dark-900));
	outline-offset: 3px;
	color: light-dark(var(--color-neutral-800), var(--color-dark-800));
}
