.themeSwitcher {
	display: flex;
	position: relative;
	align-items: center;
	justify-self: center;
	border-radius: var(--border-radius-base);
	background-color: var(--color-neutral-base800);
}

.active {
	position: absolute;
	left: 0;
	--width: 32px;
	transition:
		background-color var(--animate) linear,
		transform var(--animate) cubic-bezier(0.68, -0.55, 0.27, 1.55);
	cursor: pointer;
	box-shadow: 2px 2px 4px rgba(var(--black), 0.5);
	border-radius: var(--border-radius-themeBtn);
	background-color: var(--color-primary-400);
	width: var(--width);
	height: var(--width);
	overflow: hidden;
	color: transparent;

	&.light {
		transform: translateX(4px);
	}

	&.dark {
		transform: translateX(40px);
	}
}

:is(.themeSwitcher:hover, .themeSwitcher button:focus-visible)
	:where(.themeSwitcher svg):first-of-type {
	color: light-dark(var(--color-neutral-base900), var(--color-neutral-base600));
}

:is(.themeSwitcher:hover, .themeSwitcher button:focus-visible)
	:where(.themeSwitcher svg):last-of-type {
	color: light-dark(var(--color-neutral-base600), var(--color-neutral-base900));
}

:is(.themeSwitcher:hover, .themeSwitcher button:focus-visible) .active {
	background-color: var(--color-neutral-baseWhite);
}
