.themeSwitcher {
	border-radius: var(--border-radius-btn);
	> button:focus-visible {
		outline: 2px solid var(--color-base-white);
		outline-offset: 2px;
		box-shadow: var(--box-shadow-baseHover);
	}
}
.themeSun,
.themeMoon {
	--width: 32px;
	outline: none;
	border-radius: var(--border-radius-themeBtn);
	padding: 4px;
	width: var(--width);
	height: var(--width);
}

.themeSun {
	box-shadow: 2px 2px 4px light-dark(rgba(var(--black), 0.5), transparent);
	background-color: light-dark(var(--color-primary-400), transparent);
	color: light-dark(var(--color-base-white), var(--color-base-600));
}

.themeMoon {
	box-shadow: 2px 2px 4px light-dark(transparent, rgba(var(--black), 0.5));
	background-color: light-dark(transparent, var(--color-primary-400));
	color: light-dark(var(--color-base-600), var(--color-base-white));
}

:is(.themeSwitcher:hover, .themeSwitcher > button:focus-visible) .themeSun {
	background-color: light-dark(var(--color-base-white), transparent);
	color: light-dark(var(--color-base-900), var(--color-base-600));
}

:is(.themeSwitcher:hover, .themeSwitcher > button:focus-visible) .themeMoon {
	background-color: light-dark(transparent, var(--color-base-white));
	color: light-dark(var(--color-base-600), var(--color-base-900));
}
