@import url('./variables.css');
@import url('./normalize.css');
@import url('./fonts.css');
@import url('./icons.css');
@import url('./utils.css');

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	transition:
		color var(--animate-base) linear,
		background-color var(--animate-base) linear,
		border-color var(--animate-base) linear,
		box-shadow var(--animate-base) linear,
		outline var(--animate-base) linear,
		visibility var(--animate-base) linear,
		transform var(--animate-taskEditor) ease-in-out,
		opacity var(--animate-taskEditor) ease-in-out;
}

body {
	background-color: var(--color-neutral-0);
	min-width: 1280px;
	overflow-y: hidden;
	color: var(--color-neutral-800);
	color-scheme: light dark;
	font-weight: 400;
	line-height: 1.5;
	font-family: var(--font-family), sans-serif;
}
