@import url('./normalize.css');
@import url('./fonts.css');
@import url('./variables.css');
@import url('./icons.css');
@import url('./utils.css');

:root {
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	transition: all var(--animate) linear;
	@media (prefers-reduced-motion: reduce) {
		* {
			transition: none;
		}
	}
}

body {
	background-color: var(--color-neutral-0);
	min-width: 1280px;
	overflow-y: hidden;
	color: var(--color-neutral-800);
	color-scheme: light dark;
	font-weight: 400;
	line-height: 1.5;
	font-family: var(--font-family), sans-serif;
}
