.TaskIllustration #taskLine,
.NoteIllustration #noteStroke {
	fill: var(--color-neutral-300);
}

.NoteIllustration #noteBackground {
	fill: var(--color-neutral-0);
}

.SunIcon,
.MoonIcon {
	z-index: var(--z-index-themeIcon);
	padding: 4px;
}

.SunIcon {
	color: light-dark(
		var(--color-neutral-baseWhite),
		var(--color-neutral-base600)
	);
}

.MoonIcon {
	color: light-dark(
		var(--color-neutral-base600),
		var(--color-neutral-baseWhite)
	);
}

.LoadingIcon {
	transform: rotate(180deg);
	animation: spin 1s linear infinite;
}

.MinusIcon {
	color: var(--color-neutral-600);
}

.ChevronTopIcon {
	color: var(--color-secondary-400);
}

.ArrowTwoIcon {
	color: var(--color-primary-400);
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
