:root {
	--font-family: 'Source Sans 3';

	--font-size-xlg: 32px;
	--font-size-lg: 24px;
	--font-size-md: 18px;
	--font-size-sm: 16px;
	--font-size-xs: 14px;

	--black: 0, 0, 0;

	--color-base-white: #ffffff;
	--color-base-600: #6c6c6c;
	--color-base-700: #1c1c1c;
	--color-base-800: #262626;
	--color-base-900: #141414;
	--color-base-black: #000000;

	--color-neutral-0: #ffffff;
	--color-neutral-100: #fbfbfb;
	--color-neutral-200: #f3f3f3;
	--color-neutral-300: #ececec;
	--color-neutral-400: #bfbfbf;
	--color-neutral-500: #8c8c8c;
	--color-neutral-600: #6c6c6c;
	--color-neutral-700: #393939;
	--color-neutral-800: #1c1c1c;
	--color-neutral-900: #141414;

	--color-primary-0: #fff4f4;
	--color-primary-100: #ffcece;
	--color-primary-200: #fca9a9;
	--color-primary-300: #f25959;
	--color-primary-400: #d51010;
	--color-primary-500: #a60c0c;
	--color-primary-600: #760909;

	--padding-lg: 40px;
	--padding-md: 24px;
	--padding-sm: 16px;
	--padding-xs: 12px;
	--padding-xxs: 8px;

	--border-radius-btn: 8px;
	--border-radius-themeBtn: 4px;

	--gap-lg: 40px;
	--gap-md: 26px;
	--gap-xmd: 24px;
	--gap-sm: 16px;
	--gap-xs: 8px;

	--z-index-title: 100;
	--z-index-titleBefore: -1;
	--z-index-header: 1000;

	--box-shadow-base: 2px 2px 4px rgba(var(--black), 0.2);
	--box-shadow-baseHover: 2px 8px 12px rgba(var(--black), 0.25);

	--box-shadow-sm: 2px 2px 4px rgba(var(--black), 0.1);
	--box-shadow-smHover: 2px 8px 12px rgba(var(--black), 0.2);

	--animate: 0.2s;
}

[data-theme='dark'] {
	--color-neutral-0: #141414;
	--color-neutral-100: #1c1c1c;
	--color-neutral-200: #262626;
	--color-neutral-300: #333333;
	--color-neutral-400: #6c6c6c;
	--color-neutral-500: #8c8c8c;
	--color-neutral-600: #bfbfbf;
	--color-neutral-700: #ececec;
	--color-neutral-800: #fbfbfb;
	--color-neutral-900: #ffffff;

	--box-shadow-base: 2px 2px 4px rgba(var(--black), 0.5);
	--box-shadow-baseHover: 2px 8px 12px rgba(var(--black), 0.8);

	--box-shadow-sm: 2px 2px 4px rgba(var(--black), 0.3);
	--box-shadow-smHover: 2px 8px 12px rgba(var(--black), 0.6);
}
