.taskList {
	display: flex;
	row-gap: var(--gap-lg);
	flex-direction: column;
	align-items: center;
	padding-bottom: 13px;
	padding-inline: var(--padding-md);
	height: calc(100vh - 210px);
}

.taskListWrap {
	display: flex;
	row-gap: var(--gap-sm);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-inline: auto;
	margin-top: auto;
	max-width: 996px;
}

.taskListTitle {
	font-weight: 700;
	font-size: var(--font-size-lg);
	line-height: 1.33;
}

.taskListDesc {
	font-size: var(--font-size-md);
	line-height: 1.33;
}

.taskListImg {
	margin-bottom: auto;
}
