.taskList {
	display: flex;
	row-gap: var(--gap-xs);
	flex-direction: column;
	padding-top: 5px;
	padding-inline: var(--padding-sm);
	padding-bottom: var(--padding-sm);
}

.taskItem {
	border-radius: 8px;
	padding-block: var(--padding-xxs);
	padding-right: var(--padding-xxs);
	padding-left: var(--padding-sm);

	&:focus-visible {
		outline: 2px solid var(--color-neutral-900);
		box-shadow: var(--box-shadow-sm);
	}

	@media (any-hover: hover) {
		&:hover {
			box-shadow: var(--box-shadow-sm);
			background-color: var(--color-neutral-100);
		}
	}
}

.taskItemWrap {
	position: relative;
	padding-block: var(--padding-xxs);
}

.checkbox {
	position: absolute;
	top: 0;
	left: 0;
	margin: -1px;
	padding: 0;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
	white-space: nowrap;
}

.checkboxLabel {
	.checkbox {
		&:focus-visible + .checkmarkDefault {
			outline: 4px solid var(--color-neutral-400);
			border-color: var(--color-neutral-800);
		}

		&:focus-visible + .checkmarkSecond {
			outline: 4px solid var(--color-secondary-100);
			border-color: var(--color-secondary-500);
		}

		&:focus-visible + .checkmarkThird {
			outline: 4px solid var(--color-primary-100);
			border-color: var(--color-primary-500);
		}
	}

	.checkmark {
		--width: 20px;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translateY(-50%);
		cursor: pointer;
		border-radius: var(--border-radius-second);
		background-color: var(--color-neutral-0);
		width: var(--width);
		height: var(--width);

		&.checkmarkDefault {
			border: 1px solid var(--color-neutral-400);
		}

		&.checkmarkSecond {
			border: 1px solid var(--color-secondary-300);
		}

		&.checkmarkThird {
			border: 1px solid var(--color-primary-300);
		}

		@media (any-hover: hover) {
			&.checkmarkDefault:hover {
				border-color: var(--color-neutral-800);
			}

			&.checkmarkSecond:hover {
				border-color: var(--color-secondary-500);
			}

			&.checkmarkThird:hover {
				border-color: var(--color-primary-500);
			}
		}
	}
}

.checkboxTitle {
	padding-left: 40px;
	color: var(--color-neutral-800);
	font-size: 18px;
	line-height: 1.333;
}
